<aside class="event">
  <h2>Next Event: Thursday 20th August</h2>
  <h3><%= link_to 'Bug Free Ruby', event_path('bug-free-code') %></h3>
  <h4>6:30pm at the Manchester Digital Labratory</h4>
</aside>
