<% content_for :meta_title, "Events | #{default_page_title}" %>
<% content_for :meta_description, "NWRUG events are usually the third Thursday of each month in Manchester. Free to attend and open to all, regardless of experience or ability." %>

<article>
  <h1 id="events">Events</h1>

  <p>Each month there is an NWRUG event in Manchester. There is usually a talk on a Ruby or Ruby-related topic, followed by a visit to a local pub. Our events are free and open to anyone with an interest in Ruby, regardless of experience level. We want to keep NWRUG as welcoming and inclusive as possible so we ask that all attendies follow our <%= link_to 'Code of conduct', code_of_conduct_path %>.</p>

</article>

<%= render 'events/aside' %>

<article>
  <h2>Previous events</h2>
  <ul class="events">
    <%= render @events %>
  </ul>
</article>
