<article>
  <h1 id="events">Events</h1>

  <p>Each month there is an NWRUG event in Manchester. There is usually a talk on a Ruby or Ruby-related topic, followed by a visit to a local pub. Our events are free and open to anyone with an interest in Ruby, regardless of experience level. We want to keep NWRUG as welcoming and inclusive as possible so we ask that all attendies follow our <%= link_to 'Code of conduct', code_of_conduct_path %>.</p>
</article>


<%= render 'events/aside' %>

<article>
  <h2 id="preview-events">Previous Events</h2>
  <ul>
    <li>
      <h3><a href="/events/previous-month">An Intro to Docker</a></h3>
      <p>Summary of the event</p>
    </li>
    <li>
      <h3><a href="/events/previous-month">An Intro to Docker</a></h3>
      <p>Summary of the event</p>
    </li>
    <li>
      <h3><a href="/events/previous-month">An Intro to Docker</a></h3>
      <p>Summary of the event</p>
    </li>
  </ul>

  <p>Pagination here?</p>
</article>
