<article>
  <h1>Events</h1>

  <p>Each month there is a NWRUG meeting in Manchester. There is usually a talk on a Ruby or Ruby-related topic, followed by a visit to a local pub. Our events are free and open to anyone with an interest in Ruby, regardless of experience level. We want to keep NWRUG as welcoming and as inclusive an environment as possible so we ask that all attendies follow our <%= link_to 'Code of conduct', code_of_conduct_path %>.</p>

  <h2>Next Event: <a href="/events/bug-free-code">Bug Free Code</a></h2>
  <h3>Thursday 20th August, 6:30pm at The Manchester Digital Labratory</h3>
  <p>Summary of this month's talk goes here.</p>
  <p><a href="/events/bug-free-code">More details</a></p>

  <h2>Previous NWRUG Meetings</h2>
  <ul>
    <li>
      <h3><a href="/events/previous-month">An Intro to Docker</a></h3>
      <p>Summary of the event</p>
    </li>
    <li>
      <h3><a href="/events/previous-month">An Intro to Docker</a></h3>
      <p>Summary of the event</p>
    </li>
    <li>
      <h3><a href="/events/previous-month">An Intro to Docker</a></h3>
      <p>Summary of the event</p>
    </li>
  </ul>

  <p>Pagination here?</p>
</article>
