<article class="event no-aside">
  <h1 class="large-heading">Bug Free Code</h1>
  <h2 class="secondary-colour">Thursday 20th August, 6:30pm at the Manchester Digital Labratory</h2>

  <p>For the last two years at Allegro we’ve been working with No Backlog. When I share the experience of this with people they often ask “what about the bugs?” and my response “we don’t have bugs”. This talk explains the concept in more depth.</p>

  <h2>The speaker</h2>
  <p>
    Gemma Cameron, developer, event organiser and Queen Bee of the NW tech event organisers.
  </p>

  <h2>Location</h2>
  <div class="vcard">
   <a class="fn org url" href="http://madlab.org.uk/">The Manchester Digital Labratory (MadLab)</a>
   <span class="adr">
    <span class="street-address">36-40 Edge Street</span>
    <span class="locality">Manchester</span>,
    <span class="postal-code">M4 1HN</span>.
   </span>
  </div>

  <div class='embed-container'>
    <iframe width='600' height='300' frameborder='0' style='border:0' src='https://www.google.com/maps/embed/v1/place?q=MadLab,+Edge+Street,+Manchester,+United+Kingdom&key=AIzaSyByIp6AzlpPjVjisNnNNKHMwn_i8XwCWdc' allowfullscreen></iframe>
  </div>
</article>
