<article>
  <h1>Bug Free Code</h1>
  <h2>Thursday 20th August, 6:30pm at The Manchester Digital Labratory</h2>

  <p>For the last two years at Allegro we’ve been working with No Backlog. When I share the experience of this with people they often ask “what about the bugs?” and my response “we don’t have bugs”. This talk explains the concept in more depth.</p>

  <h2>The speaker</h2>
  <p>
    <img src="" alt="Gemma Cameron">
    Gemma Cameron, developer, event organiser and Queen Bee of the NW tech event organisers.
  </p>

  <h2>Location</h2>
  <p>
    <a href="http://madlab.org.uk">The Manchester Digital Labratory (MadLab)</a>
    36-40 Edge Street, Manchester, M4 1HN. (VCARD?)
  </p>

  <iframe width="600" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=MadLab,+Edge+Street,+Manchester,+United+Kingdom&key=AIzaSyCHCgirtWwrRCHY71B1kTZFlG5g1E0KF6o" allowfullscreen></iframe>

</article>
