<% content_for :meta_title, "Code of conduct | #{default_page_title}" %>
<% content_for :meta_description, 'The Code of conduct for the North West Ruby User Group. These guidelines outline the expected beahviour of all community members.' %>

<article class="no-aside">
  <h1 id="code-of-conduct">Code of conduct</h1>

  <p>A primary goal of NWRUG is to be inclusive to the largest number of people, with the most varied and diverse backgrounds possible. As such, we are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof).</p>

  <h2 id="what-we-expect">What we expect</h2>

  <p>Community members should participate in an authentic and considerate way to help create a safe and positive experience for everyone. We expect all members to: contribute positively and constructively to discussions, both online and in person; be mindful of fellow participants; lead by example, be helpful and keep standards high; refrain from demeaning, discriminatory, or <%= link_to "harassing behaviour", "http://citizencodeofconduct.org/#unacceptable-behavior" %> and speech.</p>

  <h2 id="incident-reporting-and-handling">Incident reporting and handling</h2>

  <p>If you experience or witness unacceptable behaviour, or have any other concerns, please contact one of the NWRUG community organisers:</p>

  <ul>
    <li><a href="http://tekin.co.uk">Tekin Suleyman</a>: <a href="http://twitter.com/tekin">@tekin</a> <a href="mailto:tekin@tekin.co.uk">tekin@tekin.co.uk</a></li>
    <li><a href="http://tinycodefactory.com">Ben Aldred</a>: <a href="http://twitter.com/benaldred">@benaldred</a> <a href="mailto:ben@tinycodefactory.com">ben@tinycodefactory.com</a></li>
    <li><a href="http://willj.net">Will Jessop</a>: <a href="http://twitter.com/will_j">@will_j</a> <a href="mailto:will@willj.net">will@willj.net</a></li>
  </ul>

  <p>We expect all community participants (contributors, paid or otherwise; sponsors; and other guests) to abide by this Code of Conduct in all community venues – online and in-person – as well as in all one-on-one communications pertaining to the community. Harassment of members in any form will not be tolerated.</p>

  <p>Anyone asked to stop unacceptable behaviour is expected to comply immediately. If a community member engages in unacceptable behaviour, the community organisers may take any action they deem appropriate, up to and including a temporary ban or permanent expulsion from the community without warning (and without refund in the case of a paid event).</p>
</article>
