<article class="no-aside">
  <h1 id="code-of-conduct">Code of Conduct</h1>

  <p>A primary goal of NWRUG is to be inclusive to the largest number of people, with the most varied and diverse backgrounds possible. As such, we are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof).</p>

  <p>We ask all those who participate in NWRUG to help us create safe and positive experiences for everyone.</p>

  <h2 id="expected-behavior">Expected Behavior</h2>

  <p>The following behaviors are expected and requested of all community members:</p>

  <ul>
    <li>Participate in an authentic and active way. In doing so, you contribute to the health and longevity of the community.</li>
    <li>Exercise consideration and respect in your speech and actions.</li>
    <li>Attempt collaboration before conflict.</li>
    <li>Refrain from demeaning, discriminatory, or harassing behavior and speech.</li>
    <li>Be mindful of your surroundings and of your fellow participants. Alert community leaders if you notice a dangerous situation, someone in distress, or violations of this Code of Conduct, even if they seem inconsequential.</li>
    <li>Remember that community event venues may be shared with members of the public; please be respectful to all patrons of these locations.</li>
  </ul>

  <h2 id="unacceptable-behavior">Unacceptable Behavior</h2>

  <p>The following behaviors are considered harassment and are unacceptable within our community:</p>

  <ul>
    <li>Violence, threats of violence or violent language directed against another person.</li>
    <li>Sexist, racist, homophobic, transphobic, ableist or otherwise discriminatory jokes and language.</li>
    <li>Posting or displaying sexually explicit or violent material.</li>
    <li>Posting or threatening to post other people&#8217;s personally identifying information (&quot;doxing&quot;).</li>
    <li>Personal insults, particularly those related to gender, sexual orientation, race, religion, or disability.</li>
    <li>Inappropriate photography or recording.</li>
    <li>Inappropriate physical contact. You should have someone&#8217;s consent before touching them.</li>
    <li>Unwelcome sexual attention. This includes, sexualised comments or jokes; inappropriate touching, groping, and unwelcome sexual advances.</li>
    <li>Deliberate intimidation, stalking or following (online or in person).</li>
    <li>Advocating for, or encouraging, any of the above behavior.</li>
    <li>Sustained disruption of community events, including talks and presentations.</li>
  </ul>

  <h2 id="consequences-of-unacceptable-behavior">Consequences of Unacceptable Behavior</h2>

  <p>Unacceptable behavior from any community member, including speakers, sponsors and those with decision-making authority, will not be tolerated.</p>

  <p>Anyone asked to stop unacceptable behavior is expected to comply immediately.</p>

  <p>If a community member engages in unacceptable behavior, the community organisers may take any action they deem appropriate, up to and including a temporary ban or permanent expulsion from the community without warning (and without refund in the case of a paid event).</p>

  <h2 id="reporting-guidelines">Reporting Guidelines</h2>

  <p>If you are subject to or witness unacceptable behavior, or have any other concerns, please contact one of the NWRUG community organisers:</p>

  <ul>
    <li><a href="http://tekin.co.uk">Tekin Suleyman</a>: <a href="http://twitter.com/tekin">@tekin</a> <a href="mailto:tekin@tekin.co.uk">tekin@tekin.co.uk</a></li>
    <li><a href="http://tinycodefactory.com">Ben Aldred</a>: <a href="http://twitter.com/benaldred">@benaldred</a> <a href="mailto:ben@tinycodefactory.com">ben@tinycodefactory.com</a></li>
    <li><a href="http://willj.net">Will Jessop</a>: <a href="http://twitter.com/will_j">@will_j</a> <a href="mailto:will@willj.net">will@willj.net</a></li>
  </ul>

  <h2 id="scope">Scope</h2>

  <p>We expect all community participants (contributors, paid or otherwise; sponsors; and other guests) to abide by this Code of Conduct in all community venues &#8211; online and in-person &#8211; as well as in all one-on-one communications pertaining to the community.</p>

  <p>This code of conduct and its related procedures also applies to unacceptable behavior occurring outside the scope of community activities when such behavior has the potential to adversely affect the safety and well-being of community members.</p>

  <h2 id="license-and-attribution">License and attribution</h2>

  <p>This Code of Conduct is adapted from <a href="http://citizencodeofconduct.org">citizencodeofconduct.org</a>. It is distributed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike license.</a></p>
</article>
