@import "main";

html, body {
  height: 100%;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  background-color: $brand-colour;
  color: $text-colour;
}

.main-container {
  margin-top: .5em;
  background-color: white;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

header {
  padding-bottom: $gutter-half;
  text-align: center;

  h1 {
    clear: both;
    font-size: 40px;
    font-weight: bold;
    padding-top: $gutter-half;
    margin-bottom: 0;

    a {
      text-decoration: none;
      color: $brand-colour;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  h2 {
    font-size: 20px;
    color: $secondary-brand-colour;
    padding: 0;
    margin: $gutter-half 0;
  }
}

/* Footer */
.footer-container {
  font-size: $small-font-size;
  background-color: $footer-colour;
  color: $footer-text-colour;
  padding: $gutter 0;
}

footer a {
  color: $footer-text-colour;

  &:visited {
    color: $footer-text-colour;
  }
}
