@import "main";

html, body {
  height: 100%;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  background-color: $brand-colour;
  color: $text-colour;
}

.main-container {
  margin-top: .5em;
  background-color: white;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

header {
  padding-bottom: $gutter-half;

  h1 {
    clear: both;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: $gutter-half;
    margin-bottom: 0;

    a {
      text-decoration: none;
      color: $brand-colour;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  h2 {
    text-align: center;
    font-size: 20px;
    color: $secondary-brand-colour;
    padding: 0;
    margin: $gutter-half 0;
  }
}

.main {
  padding-bottom: $gutter-double;
}

.main aside {
  padding: 0px 5% 10px;
  margin: $gutter-double 0;
  background: $brand-colour;
  color: white;

  h1, h2, h3, h4, a {
    color: white;
  }
}

aside.event {
  h2 {
    font-size: 20px;
    font-weight: 200;
  }

  h3 {
    font-size: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  h4{
    font-size: 17px;
    margin-top: 5px;
    font-style: italic;
  }
}

/* Footer */
.footer-container {
  text-align: center;
  font-size: $small-font-size;
  background-color: $footer-colour;
  color: $footer-text-colour;
  padding: $gutter 0;
}

footer {
  font-size: $small-font-size;
  text-align: center;

  ul {
    font-size: $base-font-size;
    list-style: none;
    padding: 0;

    li {
      display: inline;
      padding: 0.3em;
    }
  }
}

footer a {
  color: $footer-text-colour;

  &:visited {
    color: $footer-text-colour;
  }
}

/* Wide Styles */

@media screen and (min-width: 40em) {
  .main-container {
    margin-top: 0;
  }

  .main, .main-container footer {
    margin: 0 auto;
    max-width: $max-page-width;
    overflow: auto;
  }

  .main {
    article {
        float: left;
        width: 57%;
    }

    aside {
      float: right;
      width: 33%;
      padding: 0px 2% 10px;
      margin: $gutter 0;

      h2 {
        margin-top: 0;
      }
    }
  }

  header{
    h1 {
      padding-top: $gutter;
      font-size: 60px;
      padding-bottom: 10px;
    }
    h2 {
      font-size: 30px;
    }
    .nav-collapse a {
      padding: 0.7em;
    }
  }
}
