/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

// Variables
$base-font-family:    Lato, Helvetica, Helvetica Neue, Arial;
$heading-font-family: Ubuntu, sans-serif;
$base-font-size:      17px;
$small-font-size:     $base-font-size * 0.9;
$base-line-height:    26px;
$max-page-width:      900px;

$gutter:      20px;
$gutter-half: $gutter/2;
$gutter-double: $gutter*2;

// Colours
$brand-colour:           #D94949;
$secondary-brand-colour: #FFA2A2;
$text-colour:            black;
$background-colour:      white;
$link-colour:            darken($brand-colour, 10%);
$header-colour:          $brand-colour;
$header-text-colour:     white;
$footer-colour:          $header-colour;
$footer-text-colour:     $header-text-colour;
$selection-colour:       #b3d4fc;

// Based on colours from http://paletton.com/#uid=1000u0klfrebDG9gXvnpynIsXiS
//   .color-primary-0 { color: #D94949 }
//   .color-primary-1 { color: #FFA2A2 }
//   .color-primary-2 { color: #FA7676 }
//   .color-primary-3 { color: #BD2626 }
//   .color-primary-4 { color: #960E0E }

::-moz-selection {
  background: $selection-colour;
  text-shadow: none;
}

::selection {
  background: $selection-colour;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  color: $header-colour;
  font-family: $heading-font-family;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: $gutter / 2;
}

h2 {
  padding-top: $gutter;
  font-size: 24px;
  font-weight: 400;
}

a {
  color: $link-colour;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
