/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

// Variables
$base-font-family:    Lato, Helvetica, Helvetica Neue, Arial;
$heading-font-family: Ubuntu, sans-serif;
$base-font-size:      17px;
$small-font-size:     $base-font-size * 0.8;
$base-line-height:    26px;
$max-page-width:      900px;

$gutter:      20px;
$gutter-half: $gutter/2;
$gutter-double: $gutter*2;

// Colours
$brand-colour:           #BE1717;
$secondary-brand-colour: #FFA2A2;
$text-colour:            black;
$background-colour:      #777;
$link-colour:            darken($brand-colour, 5%);
$header-colour:          $brand-colour;
$header-text-colour:     #A40202;
$footer-colour:          $background-colour;
$footer-text-colour:     white;
$selection-colour:       #b3d4fc;

::-moz-selection {
  background: $selection-colour;
  text-shadow: none;
}

::selection {
  background: $selection-colour;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  color: $header-text-colour;
  font-family: $heading-font-family;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: $gutter / 2;
}

h2 {
  padding-top: $gutter;
  font-size: 24px;
  font-weight: 400;
}

a {
  color: $link-colour;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.secondary-colour {
  color: $secondary-brand-colour;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

#flash {
  width: 100%;
  text-align: center;
  font-weight: bold;

  p {
    margin-bottom: 15px;
    padding: 10px 0;
  }

  .notice {
    background: #F6FEDA;
    color: #6EA833;
  }
  .alert {
    background: #FEEBE8;
    color: #e01212;
  }
}

form {
  label {
    display: block;
  }

  textarea {
    width: 90%;
    height: 300px;
  }
}
